{{>header}}
import htmlgen
import jester
import logging

{{#imports}}import ../models/{{import}}
{{/imports}}
{{#description}}# {{{description}}}{{/description}}

router {{classFilename}}:{{#operations}}{{#operation}}
  {{{httpMethod}}} "{{{path}}}":
    # TODO: {{#lambda.uppercase}}{{{httpMethod}}}{{/lambda.uppercase}} {{{path}}} needs to be implemented
    warn("{{#lambda.uppercase}}{{{httpMethod}}}{{/lambda.uppercase}} {{{path}}} is not implemented")
    resp(Http501, "<!DOCTYPE html>" & html(body("Not Implemented")))
{{/operation}}{{/operations}}

const router* = {{classFilename}}